

 .tdn {
   text-decoration: none;
 }

 .stileul {
   padding-top: 2%;
   display: inline-flex;
   padding-right: 20%;
   list-style-type: none;
   margin-right: 4%;
   align-content: space-between;
   white-space: nowrap;
   color: #fff;
 }

 .stileli {
   margin-right: 14%;
   border-style: solid;
   border-radius: 8px;
   color: #fff;
   
 }

 