@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);
@import url('http://fonts.cdnfonts.com/css/bernadette-3');

.logo{
  margin-top: 3%;
}

.icons{
  display: flex;
}

 .tdn {
   text-decoration: none;
 }

 .stileul {
   display: inline-flex;
   padding-right: 25%;
   list-style-type: none;
   align-content: space-between;
   white-space: nowrap;
   color: #fff;
 }

 .stileli {
   margin-right: 14%;
   border-style: solid;
   border-radius: 8px;
   color: #fff;
   
 }

 #decorButton{
  font-family: 'Bernadette', sans-serif;
  color: #fff;
 }

 