.box1 {
    background-color: #ff5252;
    height: 120px;
}

.box2 {
    background-color: #ff5252; 
    height: 60px
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}